extends layout

block content
  h1= title
  p Step into a world where stories come to life 
  p #[strong Greetings, fellow adventurer!] You've arrived at #[em The Sanctuary of Forgotten Tales], a mystical haven where books are more than just pages—they are gateways to fantastical realms. Here, forgotten tales whisper secrets of old, dragons guard treasured tomes, and ancient wizards weave spells of wonder.
  p #[strong Our mission?] To transport you to realms of imagination and wonder. Whether you're seeking epic sagas, mystical myths, or ancient legends, our library is your gateway to adventure.
  p Explore our collections and meet brave heroes, mythical creatures, and enchanted kingdoms. Each book is a journey waiting for you to embark upon..

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Books:] !{book_count}
    li #[strong Authors:] !{author_count}
